@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" >
        <NavMenu />
    </div>

    <main>
    <div class="top-row px-4 d-flex justify-content-start">
          <SectionOutlet SectionName="top-bar"  />
        
        </div>

        <div class="" style="padding-left: 10px;">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
